.adusers {
    width: 86%;
    min-height: 100vh;
    margin-left: 14%;
    padding: 25px;
    box-sizing: border-box;
    background-color: #eee;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.adusers-lists{
    width: 100%;
    min-height: 700px;
    padding: 35px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #fff;
    justify-content: center;
    background-color: rgb(240, 235, 230);
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.adusers-list{
    width: 250px;
    height: 250px;
    background-color: #d4d2d2;
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.user-1 h2{
    margin-left: 55px;
    font-size: 30px;
    color: #fff;
}
.user-1 ul{
    margin-top: -20px;
    margin-right: 50px;
}
.user-1 button{
    width: 100px;
    height: 30px;
    /* background-color: rgb(79, 233, 100); */
    color: #eee;
    margin-left: 50px;
    border: none;
    border-radius: 20px;
}